.html {
  font-size: 10px;
}
body {
  font-size: 1rem;
}
.container {
  display: flex;
  justify-content: space-around;
}
.data-structure-names,
.algorithm-names {
  width: 40vw;
  height: 100vh;
  overflow: scroll;
  border: 1pz grey solid;
  border-radius: 5px;
}

.section-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
